pip==22.0.4
setuptools==62.1.0
wheel==0.37.1
django==4.0.4
djangorestframework==3.13.1
psycopg2==2.9.3
django-filter==2.4.0
django-debug-toolbar==3.4.0
django-crispy-forms==1.14.0
django-extra-views==0.14.0
django-extensions==3.1.5
gunicorn==20.1.0
martor==1.6.13