{% load wagtailcore_tags %}
<div class="container">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
      <span class="fs-4">Garden Server</span>
    </a>

    <ul class="nav nav-pills">
      {% for block in settings.navigation.HeaderLinks.header_links %}
          {% include_block block %}
      {% endfor %}
      {% if user.is_authenticated %}
        <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link">Logout</a></li>
      {% else %}
        <li class="nav-item"><a href="{% url 'login' %}" class="nav-link">Login</a></li>
      {% endif %}
    </ul>
  </header>
</div>