<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


{% block content %}
<body>
    <form method="get">
        {{ filter.form.as_p }}
        <input type="submit" />
    </form>
</body>
{% endblock %}


<canvas id="myChart" width="400" height="400"></canvas>
<script>
const ctx = document.getElementById('myChart').getContext('2d');
const myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: [{% for data in qs %} '{{ data.time }}', {% endfor %}],
        datasets: [{
            label: 'Moisture Level',
            data: [{% for data in qs %} {{ data.moisture_level }}, {% endfor %}],
            borderWidth: 1,
            backgroundColor: 'rgba(82, 99, 255, 0.5)'
        },
        {
            label: 'Temperature',
            data: [{% for data in qs %} {{ data.temperature }}, {% endfor %}],
            borderWidth: 1,
            backgroundColor: 'rgba(255, 111, 0, 0.7)'
        },
        {
            label: 'Light Level',
            data: [{% for data in qs %} {{ data.light_level }}, {% endfor %}],
            borderWidth: 1,
            backgroundColor: 'rgba(255, 208, 0, 0.7)'
        }]
    },
    options: {
        responsive: true,
        scales: {
            y: {
                beginAtZero: true
            }
        },
        maintainAspectRatio: true
    }
});
</script>
